In [27]:
import pandas as pd
from gutenberg.query import get_metadata

data = pd.read_csv("gutenberg.csv", index_col="gutenberg id")
data

                                                         title
gutenberg id
10000                                          The Magna Carta
10001                                          Apocolocyntosis
10002                              The House on the Borderland
10003               My First Years As A Frenchwoman, 1876-1879
10004                                             The Warriors
...                                                        ...
9997           France and England in North America, Part Third
9998                                                     Poems
9999                          Harriet, The Moses of Her People
99                    Collected Articles of Frederick Douglass
9             Lincoln's First Inaugural Address, March 4, 1861

[37219 rows x 1 columns]

In [25]:
authors = data.index.to_series().map(lambda gutenberg_id: get_metadata('author', gutenberg_id)).to_frame('authors')
authors

                                           authors
gutenberg id
10000                                  (Anonymous)
10001                     (Seneca, Lucius Annaeus)
10002                      (Hodgson, William Hope)
10003                      (Waddington, Mary King)
10004              (Lindsay, Anna Robertson Brown)
...                                            ...
9997                            (Parkman, Francis)
9998                             (Betham, Matilda)
9999          (Bradford, Sarah H. (Sarah Hopkins))
99                           (Douglass, Frederick)
9                               (Lincoln, Abraham)

[37219 rows x 1 columns]

In [31]:
data_with_authors = pd.concat([data, authors], axis=1)

In [33]:
data_with_authors.to_csv("gutenberg-with-authors.csv")