In [3]:
import pandas as pd
from gutenberg.query import get_metadata

data = pd.read_csv("gutenberg.csv")
data.head()

  gutenberg id                                       title
0        10000                             The Magna Carta
1        10001                             Apocolocyntosis
2        10002                 The House on the Borderland
3        10003  My First Years As A Frenchwoman, 1876-1879
4        10004                                The Warriors

In [5]:
get_metadata('author', 10000)

frozenset({'Anonymous'})