In [1]:
import pandas as pd
from extract_words import extract_words
from collections import Counter

In [2]:

data = pd.read_csv('gutenberg.csv', index_col='gutenberg id')
data

                                                          title
gutenberg id
10001                                           Apocolocyntosis
10002                               The House on the Borderland
10003                My First Years As A Frenchwoman, 1876-1879
10004                                              The Warriors
10005                                      A Voyage to the Moon
...                                                         ...
9628                   Buried Cities: Pompeii, Olympia, Mycenae
98                                         A Tale of Two Cities
9943          Journal of an Expedition into the Interior of ...
9958                                  Explorations in Australia
9973                            Yorkshire Painted And Described

[4213 rows x 1 columns]

In [3]:
words = Counter()
for gutenberg_id in data.index:
    words.update(extract_words(gutenberg_id))

book 11522 'charmap' codec can't decode byte 0x8f in position 11467: character maps to <undefined>
book 12538 'charmap' codec can't decode byte 0x81 in position 116505: character maps to <undefined>
book 12746 'cp949' codec can't decode byte 0xb6 in position 52319: illegal multibyte sequence
book 12868 'cp949' codec can't decode byte 0xb6 in position 24190: illegal multibyte sequence
book 12930 'utf-8' codec can't decode byte 0xe8 in position 875: invalid continuation byte
book 13558 'cp949' codec can't decode byte 0xb6 in position 60079: illegal multibyte sequence

In [6]:
most_common = words.most_common(1000)

In [9]:
most_common_pd = pd.DataFrame(data=most_common, columns=["words", "freq"])
most_common_pd.to_csv("most-common-words.csv")